@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

/* Formulaire */

.contact{
  padding: 4%;
  max-width: 100%;
}
.colorWhite{
  color: white;
}
.col-md-3{
  background: #97afa3;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}

/* END Formulaire */


/* Style for the result page */

#resultcontainer{
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.borderResult{
  text-align: center;
  margin-top: 10vh;
  width: 80%;
  height: 10vh;
  border: 1px solid red;
}
.messageP{
display: block;
width: 70%;
max-height: 50vh;
overflow-y: auto;
}
form{
  background-color: unset!important;
}
#correspondant{
  background: unset!important;
  padding: unset!important;
  border-top-left-radius: unset!important;
  border-bottom-left-radius: unset!important;
}
@media (max-width:768px){
  blockquote{
    width: 95%;
  }
  .messageP{
    width: 100%;
  }
}
/* END Style for the result page */